input[type="button"]{
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
}

table {
	width: 300px;
	height: 450px;
	background: url(../img/calc_background.png);
	padding: 20px;
	border-radius: 6px;
}

td {
	background: #A1A1A4;
	border: solid black 3px;
	border-radius: 2px;
}

#display {
	width: 99%;
	height: 100%;
	display: block;
	margin: auto;
	border: none;
	font-size: 300%;
}

.calcButton {
	width: 100%;
	height: 100%;
	margin: auto;
	display: block;
	font-size: x-large;
	background: #A1A1A4;
	border: none
}