body {
  margin: 0;
  padding: 0;
  background: #ccc;
}

table {
	width: 300px;
	height: 450px;
	background: url(../img/calc_background.png);
	padding: 20px;
	border-radius: 6px;
}

form {
	float: left;
}

td {
	background: #A1A1A4;
	border: solid black 3px;
	border-radius: 2px;
}

#display {
	width: 99%;
	height: 100%;
	display: block;
	margin: auto;
	border: none;
	font-size: 300%;
}

#container {
	width: 80%;
	margin: auto;
	display: block;
	padding-top: 20px;
}

#instructions {
	float: left;
	font-family: 'Oswald', sans-serif;
	font-size: larger;
}

.calcButton {
	width: 100%;
	height: 100%;
	margin: auto;
	display: block;
	font-size: x-large;
	background: #A1A1A4;
	border: none
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}