body {
	background: url(../img/bck_left.jpg) no-repeat, url(../img/bck_right.jpg) repeat-y 150px 0;
	font-family: arial;
}

.paraLeft {
	padding-left: 10px;
	padding-right: 10px;
}

.indent {
	margin-top: -8px; 
	text-indent: 40px;
}

.blackLink {
	font-weight: bold;
	color: black;
}

.blackLink:hover {
	background: #dcdcdc;
	color: black;
}

.noSpace {
	margin-top: -8px;
}

.imageHeading {
	background: url(../img/piuma.gif) no-repeat top left;
	padding-left: 30px;
	margin-left: 10px;
	font-weight: lighter;
}

.smallSpacer {
	margin-top: 30px;
}

#containerLeft {
	margin-left: 127px;
	width: 430px;
	font-size: x-small;
}

#titleImage {
	display: block;
	margin: auto;
}